<div class="left-panel" [class.collapsed]="collapsed">
  <button class="collapse-toggle" (click)="toggleCollapsed()">
    <span *ngIf="!collapsed">&lt;</span>
    <span *ngIf="collapsed">&gt;</span>
  </button>
  <div class="search-bar-wrapper" *ngIf="!collapsed">
    <span class="search-icon">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#6b6f76" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="7"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
    </span>
    <input type="text" class="search-bar" placeholder="Search..." [ngModel]="searchTerm" (ngModelChange)="searchTermChange.emit($event)" />
  </div>
  <div class="elements-list">
    <ng-container *ngFor="let category of uniqueCategories">
      <div class="category-title" *ngIf="!collapsed">
        {{ category }}
      </div>
      <div class="category-elements">
        <div 
          *ngFor="let element of getElementsByCategory(category)"
          class="element-item"
          draggable="true"
          (dragstart)="onDragStart($event, element)"
        >
          <span class="element-icon">{{ element.icon }}</span>
          <span class="element-label" *ngIf="!collapsed">{{ element.label }}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
